    {% extends 'layout.html' %}

    {% block body %}
        <div class="container py-5">
            <div class="text-center mb-5">
                <h1>About Us</h1>
                <p class="lead">Welcome to Crop Optimization!&#128516</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/crp.jpg') }}">
                </div>
                <div class="col-lg-6">
                    <h2>Crop Optimization</h2>
                    <p>At Crop Optimization, we are driven by a shared passion for revolutionizing agriculture through innovative solutions in crop optimization. Our mission is to empower farmers with cutting-edge technologies that enhance crop yields, promote sustainable practices, and contribute to the global effort of ensuring food security.</p><br>
                    <h2>Our Vision</h2>
                    <p>We see a world where sustainable agriculture methods, data-driven decision-making, and precision farming come together to produce abundant harvests, effective resource use, and prosperous farming communities.</p>
                    <a href="#section2" onclick="scrollToSection('section2')" class="btn btn-primary">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        <div class="container py-5" id="section2">
            <h1 class="text-center mb-5">What We Do</h1>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <h3>Crop Optimization Through Innovation:</h3>
                    <p>We leverage the power of machine learning, data analytics, and technology to optimize every aspect of crop cultivation. From predicting the best planting times to recommending tailored fertilization strategies, our solutions are designed to maximize yields while minimizing environmental impact.</p>
                </div>
                <div class="col-lg-6 mb-4">
                    <h3>Sustainability Matters:</h3>
                    <p>We are committed to promoting sustainable agriculture. Our approach integrates eco-friendly practices that safeguard the environment, conserve natural resources, and prioritize the long-term health of our planet.</p>
                </div>
            </div>
        </div>
        <div class="container py-5">
            <div class="text-center">
                <h2>Why Choose Crop Optimization?</h2>
                <p class="lead">
                    <strong>Innovation at the Core:</strong> We constantly push the boundaries of what's possible in agriculture, integrating the latest technologies to bring you state-of-the-art solutions.
                </p>
                <p class="lead">
                    <strong>Farmers First:</strong> Our focus is on empowering farmers. We believe that by supporting those who work the land, we can create a positive impact on a global scale.
                </p>
                <p class="lead">
                    <strong>Data-Driven Precision:</strong> Our solutions are built on a foundation of accurate data and precise analytics, ensuring that every recommendation is tailored to the unique needs of each farm.
                </p>
            </div>
        </div>
        <section class="blog py-5">
            <div class="container py-md-5">
                <h3 class="heading project-header team-header text-left"> Our Team</h3><hr color="#60c344">
                <div class="row blog-grids">
        
                    <!--Person 1-->
                    <div class="col-sm-2 col-md-3 margin-left-20 ">
                            <img src="{{ url_for('static', filename='images/sbk.jpg') }}" class="img-thumbnail img-fliud" alt="" />

                            <div class="blog-info2">
                                <h4>Tipusultan B K</h4>
                            </div>

                            <div class="social-links" style="display: flex; justify-content: center;">
                                <a href="https://www.linkedin.com/in/tipusultan-k/" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-linkedin-in" style="font-size: 24px;color: #60c344;"></i>
                                </a>
                                <a href="https://github.com/sultanbk" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-github" style="font-size: 24px;color: #60c344;"></i>
                                </a>
                                <a href="https://twitter.com/sultanbk258" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-twitter" style="font-size: 24px;color: #60c344;"></i>
                                </a>
                            </div>
                    </div>
        
                    <!--Person 2-->
                    <div class="col-sm-2 col-md-3 margin-left-20 ">
                            <img src="{{ url_for('static', filename='/images/ragha.jpeg') }}" class="img-thumbnail img-fliud" alt="" />
                            <div class="blog-info2">
                                <h4>P Raghavendra</h4>
                            </div>
                            <div class="social-links" style="display: flex; justify-content: center;">
                                <a href="https://www.linkedin.com/in/p-raghavendra-a9456a28b/" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-linkedin-in" style="font-size: 24px;color: #60c344;"></i>
                                </a>
                                <a href="https://github.com/ragha2o7" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-github" style="font-size: 24px;color: #60c344;"></i>
                                </a>
                                <a href="https://twitter.com/ragha271/" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-twitter" style="font-size: 24px;color: #60c344;"></i>
                                </a>
                            </div>
                    </div>
        
                    <!--Person 3-->
                    <div class="col-sm-2 col-md-3 margin-left-20 ">
                            <img src="{{ url_for('static', filename='images/rithesh.jpeg') }}" class="img-thumbnail img-fliud" alt="">
        
                            <div class="blog-info2">
                                <h4>Rithesh M</h4>
                            </div>
                            <div class="social-links" style="display: flex; justify-content: center;">
                                <a href="https://www.linkedin.com/in/ritheshm020901/" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-linkedin-in" style="font-size: 24px;color: #60c344;"></i>
                                </a>
                                <a href="https://github.com/ritheshm02" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-github" style="font-size: 24px;color: #60c344;"></i>
                                </a>
                                <!-- <a href="https://twitter.com/sultanbk258" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-twitter" style="font-size: 24px;color: #60c344;"></i>
                                </a> -->
                            </div>
                    </div>
        
                    <!--Person 4-->
                    <div class="col-sm-2 col-md-3 margin-left-20 ">
                            <img src="{{ url_for('static', filename='images/dummy.png') }}" class="img-thumbnail img-fliud" alt="">

                            <div class="blog-info2">
                                <h4>Rohan L C</h4>
                            </div>
                            <div class="social-links" style=" display: flex; justify-content: center;">
                                <a href="https://www.linkedin.com/in/rohan-lokeshchandra-4a50a82a2/" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-linkedin-in" style="font-size: 24px;color: #60c344;"></i>
                                </a>
                                <!-- <a href="https://github.com/sultanbk" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-github" style="font-size: 24px;color: #60c344;"></i>
                                </a>
                                <a href="https://twitter.com/sultanbk258" target="_blank" style="display: inline-block; background-color: #ecedf5; padding: 10px; margin: 5%; border-radius: 5px;">
                                    <i class="fab fa-twitter" style="font-size: 24px;color: #60c344;"></i>
                                </a> -->
                            </div>
                    </div>
                </div>
            </div>
        </section>
             
        <script>
            function scrollToSection(sectionId) {
                const section = document.getElementById(sectionId);
                section.scrollIntoView({ behavior: 'smooth' });
            }
        </script>

{% endblock %}
